.AITranslator-header {
    font-size: 400%;
    margin-top: 10%;
    /* background-color: pink; */
  }
  
  .AITranslator-content {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 2000px;
    /* background-color: cadetblue; */
    text-align: left;
  }
  
  