.salaryPredictor-header {
    font-size: 400%;
    margin-top: 10%;
  }
  
  .salaryPredictor-content {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 2500px;
    text-align: left;
  }
  


  .salaryPredictor-trending-content{
    width: 100%;
    height: 20%;
  }

  .salaryPredictor-frontPage-image, .salaryPredictor-detail-image, .salaryPredictor-trending-image{
    float: right;
    width: 21.8%;
    height: 100%;
  }