.projects-detail-left{
    position: relative;
    margin-top: 4%;
    float: left;
    width: 48%;
    height: 25em;
    /* left: 0; */
    background-color: rgb(230, 231, 232);
}
.projects-detail-right{
    position: relative;
    margin-top: 4%;
    float: right;
    right: 0;
    width: 48%;
    height: 25em;
    background-color: rgb(230, 231, 232);
}
.project-detail-picture{
    width: 100%;
    height: 60%;
    /* background-color: chartreuse; */
}
.project-detail-title{
    width: 100%;
    height: 20%;
    text-align: left;
    line-height: 100%;
    /* background-color: chocolate; */
}
.project-detail-description{
    width: 100%;
    height: 20%;
    text-align: left;
    display: inline;
    white-space: initial;
    word-break: break-all;

    
    /* background-color: cyan; */
}

.project-detail-description-p{
    word-break: break-all;
    /* background-color: cyan; */
}