.education {
    position: relative;
    /* background-color: green; */
  }
  
  .education-header {
    font-size: 400%;
    padding-top: 10%;
    /* background-color: pink; */
  }
  .education-content {
      position: relative;
    width: 80%;
    margin-left: 10%;
    height: 2000px;
    /* background-color: cadetblue; */
  }
  